:root {
    --ruler-height: 63px;
    --ruler-width: 875px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#app {
    background: url(sprite.png) no-repeat 0 100%;
    width: var(--ruler-width);
}

.expression {
    font-size: 2em;
    text-align: center;
    height: 50px;
}

.expression.show .sum,
.expression .answer {
    display: none;
}

.expression.show .answer {
    display: inline-block;
}

.answer {
    font-size: inherit;
    width: 1.4em;
    border: 1px solid #ababab;
    border-radius: 4px;
    text-align: center;
}

.arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 35px;
    width: 101px;
    bottom: var(--ruler-height);
}

.arrow img {
    width: 100%;
}

.invisible {
    display: none;
}

.addend1, .addend2 {
    display: inline-block;
    width: 0.8em;
    border-radius: 4px;
}

.input1, .input2 {
    font-size: 1.5em;
    text-align: center;
    width: 0.8em;
    margin-bottom: 4px;
    border: 1px solid #ababab;
    border-radius: 4px;
}

input.makered {
    color: red;
}

.correct {
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    transition: border 0.5s;
}

.arrow1 {
    margin-top: 4px;
}

.ruler {
    margin-top: 100px;
    width: var(--ruler-width);
    height: 150px;
    position: relative;
}

.invalid {
    background-color: #f6ad3e;
    transition: background-color .5s;
}
